bin/*
extension.zip

build
.gradle
.idea

.terraform*
terraform.*

.vscode/

.DS_Store

# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

nodejs/sample-serverless/.env

.envrc
.env
otel-agent.docker